.analogy{
    width: 49%;
    float: left;
    text-align: left;
}

.analogy-fig1{
    height: 550px;
    width: 450px;
}

.analogy-fig2{
    height: 290px;
    width: 450px;
}

code{
    background-color: #eee !import;
}
